#portrait {
    min-width: 10em;
    width: 60%;
    
    float: right;
    padding: 2em;
    padding-top: 0;
    padding-right: 0;
}
body {
    padding-bottom: 20em;
}

@media only screen and (max-width: 50em) {
    #portrait {
        padding-bottom: 0em;
        display: none;
    }
}