#portrait {
    min-width: 10em;
    width: 50%;
    
    float: right;
    padding: 2em;
    padding-top: 0;
    padding-right: 0;
}

.text {
    width: 45%;
    float: left;
}

.guestbook {
    padding: 2em;
    content: "";
    clear: both;
    display: table;
}

#guestbookborder {
    width: 50%;
    float: right;
}

.input {
    float: left;
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 50em) {
    #portrait {
        padding-bottom: 0em;
        display: none;
    }
    .text {
        width: auto;
        float: none;
    }
    .guestbook {
        width: auto;
        float: none;
    }
}