#portrait {
    max-width: 30em;
    width: 48%;
    
    float: right;
    border-radius: 2em;
    margin-bottom:1em;
    border-style: solid;
    border-color: rgba(7, 190, 184);
}

.text {
    padding:1em;
}

.box {
    width: 50%;
    margin:auto;
    margin-bottom:1em;
    float: left;

}

.input {
    float: left;
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 80em) {
    #portrait {
        padding-bottom: 0em;
        display: none;
    }
    .box {
        width: 100%;
        margin:0;
        margin-bottom:1em;
    }
    .text {
        width: auto;
        float: none;
    }
}
