

.box {
    padding: 1em;
    margin: 1em;
    margin-left: 0;
    content: "";
    clear: both;
    display: inline-block;
    line-height: 0.45em;
    float: none;
    width: 40%;
}

.albumArt {
    float: left;
    width:20%;
    padding: 0.5em;
}

.song {
    float: none;
}
.songbox {
    width: 100%;
    float: none;
}
.audioPlayer {
    width: 70%;
}