body {
    padding-bottom: 5%;
}

.box {
    padding: 2%;
    margin: 1%;
    content: "";
    clear: both;
    display: inline-block;
    float: none;
    width: 38%;
}
.box h3{
    margin: 0;
    margin-bottom: 0.25em;
}
.box p{
    margin: 0;
}

.albumArt {
    float: left;
    width:40%;
    border-radius: 1em;
    margin: 0;
    margin-right: 1em;
}

.song {
    float: none;
    display: table;
}
.songbox {
    width: 100%;
    float: none;
}
.audioPlayer {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}
.playPauseButton {
    font-size: 2em;
}
.sideButton {
    width: 5%;
    padding: 2%;
    font-weight: lighter;
    display: inline-block;
}
.progressbar {
    width: 80%;
    padding-right: 5%;
    padding-top: 1%;
    float: right;
}
@media screen and (max-width: 78em) { /*responsive effects for smaller screens*/
    .box {
        width: auto;
    }
}
