html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#canvas {
  height: 760px;
}

p {
  color: black;
}

.slider {

  -webkit-appearance: none;
  width:640px;
  
  background-color: #F2E8FE;
  border-style: solid;
  border-color: #6cbce2;
  border-radius: 10px;
}
